* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

span {
    color: #E08F33;
}

#promo {
    color: #E08F33;
    text-shadow: 1vw 1vw 1vw #000, 0 0 3vw #ffbb00, 0 0 3vw #ffbb00, 0 0 3vw #ffbb00;
}

.grid-container {
    display: grid;
    grid-row-gap: 20px;
}

/* hero */
#hero {
    width: 100%;
    height: 625px;

    background-image: url('../assets/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
    padding-top: 20%;
    padding-left: 5rem;
    font-size: 30px;
    font-weight: 800;
}

div#hero h6 {
    font-weight: 500;
}

hr {
    width: 430px;
    border: 3px solid;
    border-color: #E08F33;
    bottom: 2rem;
    margin-bottom: 20px;
}

.item {
    width: 25%;
    float: left;
}

@media (max-width: 600px) {
    .grid-item {
        width: 100%;
        font-size: 20px;
    }

    #hero {
        width: 100%;
        height: 400px;
        background-image: url('../assets/img/hero-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;

        padding-top: 120px;
        padding-left: 2px;
        text-align: center;
        font-size: 25px;
        color: rgb(2, 2, 2);
    }

    hr {
        display: none;
    }

    h6 {
        display: none;
    }
}
 
/* products */
#products {
    background-color: black;
    padding-bottom: 100px;
}

figcaption {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    text-shadow:1vw 1vw 1vw #000, 0 0 3vw #ffbb00, 0 0 3vw #ffbb00, 0 0 3vw #ffbb00;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    width: 25%;
    padding-top: 50px;
}

.flex-item img {
    border-radius: 50px;
}

@media (max-width: 800px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .flex-item {
        width: 90%;
        padding-top: 50px;
    }
    
    .flex-item img {
        border-radius: 180px;
    }
}

/* subscribe */

.flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-bottom: 80px;
}

.flex-item-1 {
    width: 50%;
    padding-top: 15px;
}

#subscribe-form {
    padding-top: 50px;
}

#subscribe-form div {
    padding: 20px;
}

input {
    border-radius: 5px;
    height: 30px;
    width: 300px;
}
::placeholder {
    padding: 5px;
    color: rgba(146, 141, 134, 0.918);
}

label {
    font-size: 20px;
    padding: 2rem;
}

button {
    background-color: #e77f08;
    border: none;
    border-radius: 15px;
    color: #000;

    width: 200px;
    padding: 12px;
    margin-left: 180px;
}

#subscribe {
    background-color: black;
    color: #fff;
}

@media (max-width: 800px) {
    .flex-container-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .flex-item-1 {
        width: 90%;
        padding-top: 40px;
    }

    #subscribe-form {
        padding-top: 10px;
    }
    
    #subscribe-form div {
        padding: 15px;
    }

    input {
        border-radius: 9px;
        height: 30px;
    }

    ::placeholder {
        padding: 5px;
        color: rgba(146, 141, 134, 0.918);
    }
    
    label {
        font-size: 20px;
        padding: 2rem;
    }

    button {
        width: 200px;
        padding-top: 12px;
        margin-left: 50px;
    }

    #subscribe img {
        display: none;
    }
}

/* footer */
footer {
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: black;
    padding: 1.2rem;
    border-top: 2px #e77f08 solid;
}

#link {
    text-decoration: none;
    color: #fff;
}